<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist">
	<!-- IF S_DISPLAY_SEARCH -->
		<li>
			Posts:
				<a href="{U_SEARCH_UNANSWERED}">Unanswered</a>
				<!-- IF S_LOAD_UNREADS -->| <a href="{U_SEARCH_UNREAD}">Unread</a><!-- ENDIF -->
				<!-- IF S_USER_LOGGED_IN -->| <a href="{U_SEARCH_NEW}">New</a><!-- ENDIF -->
				| <a href="{U_SEARCH_ACTIVE_TOPICS}">Active</a>
		</li>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
		<li class="rightside">
			<a href="{U_MARK_FORUMS}" accesskey="m">Mark as read</a>
		</li>
	<!-- ENDIF -->
</ul>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
<!-- ENDIF -->


	<div class="post" style="margin-top: 20px">
<!-- IF S_DISPLAY_ONLINE_LIST -->
		<!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF -->:
		{TOTAL_USERS_ONLINE}<br />
		{RECORD_USERS}<br />
		{LOGGED_IN_USER_LIST}<br />
		<br />
<!-- ENDIF -->		
<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
		{L_BIRTHDAYS}: {L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><br />
		<br />
<!-- ENDIF -->
		{TOTAL_POSTS}, {TOTAL_TOPICS}, {TOTAL_USERS}<br />
		{NEWEST_USER}
	</div>

<!-- INCLUDE overall_footer.html -->
