	</div>

<div id="page-footer">

	<div class="navbar">
		<ul class="linklist leftside">
			<li>
			<!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->
			{S_TIMEZONE}
			</li>
		</ul>
		<br clear="all" />
	</div>

	<div class="copyright">
		Powered by <a href="http://www.phpbb.com/">phpBB</a>
		<!-- IF U_MCP -->
			| <a href="{U_MCP}">{L_MCP}</a>
		<!-- ENDIF -->
		<!-- IF U_ACP -->
			| <a href="{U_ACP}">{L_ACP}</a>
		<!-- ENDIF -->
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</body>
</html>
