
<h3 id="review">
	<span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
	{L_TOPIC_REVIEW}: {TOPIC_TITLE}
</h3>

<div id="topicreview">
<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {S_BBCODE_ALLOWED};
// ]]>
</script>
	<!-- BEGIN topic_review_row -->

	<!-- IF topic_review_row.S_IGNORE_POST -->
	<div class="post post-ignore">
			{topic_review_row.L_IGNORE_POST}
	<!-- ELSE -->
	<div class="post">
	<!-- ENDIF -->

		<div class="posttitle">
			<div style="float: left">
				{L_POST_BY_AUTHOR} {topic_review_row.POST_AUTHOR_FULL}<!-- IF topic_review_row.S_ONLINE --> (online)<!-- ENDIF -->,
				{topic_review_row.POST_DATE}:
			</div>
		<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
			<div class="editlink"><a href="#postingbox" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}');" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}">quote</a></div>
		<!-- ENDIF -->
			&nbsp;
		</div>

		<div class="content">{topic_review_row.MESSAGE}</div>

			<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{topic_review_row.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
			<!-- ENDIF -->

			<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
				<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
			<!-- ENDIF -->
	</div>
	<!-- END topic_review_row -->
</div>
