body {
	background-color: #1A0F08;
	color: #433A2E;
}

h1 {
	margin-top: 45px;
}

a,
a:link,
a:visited {
	color: #70523D;
}

h1,
h1 a,
h1 a:link,
h1 a:visited {
	color: #ffffff;
}

h2.subhead {
	color: #C09A67;
	border-bottom: 0;
}

.navbar {
	background-color: transparent;
	border-top: 1px solid #4A1E0B;
	border-bottom: 1px solid #4A1E0B;
	color: #FFB100;
}

.navbar a,
.navbar a:link
.navbar a:visited {
	color: #FFB100;
}

h2, h3 {
	padding-bottom: 4px;
	margin-bottom: 16px;
	border-bottom: 2px solid #46230E;
}

h3 {
	color: #C09A67;
}

h2,
h2 a,
h2 a:link,
h2 a:visited {
	color: #7E3406;
}

#page-body {
	background-color: #341A0F;
	color: #C09A67;
}

label,
dd label {
	color: #C09A67;
}

#page-body a,
#page-body a:link
#page-body a:visited {
	color: #FFB100;
	border-bottom-color: #FFB100;
}

#page-body a.postlink:hover {
	background-color: #FFB100;
	color: #502A17;
}

.headerbar {
	position: relative;
	height: 240px;
	padding: 0;
	margin: 0 auto;
}

.headerbar {
	background-image: url("{T_THEME_PATH}/images/logo.gif");
	background-repeat: no-repeat;
	background-position: top right;
}

#search-box {
	display: none;
}

.topnavbar {
	margin-top: 0;
}

.panel,
.post {
        border-top: 1px solid #502A17;
        border-right: 1px solid #24120A;
        border-bottom: 1px solid #24120A;
        background-color: #4A2715;
        font-size: 11px;
        color: #F5EBD1;
}

div.posttitle {
	color: #C09A67;
	border-bottom-color: #C09A67;
}

.content {
	font: normal 12px/1.5 Arial, Verdana, sans-serif;
        color: #F5EBD1;
}

.content h2,
.panel h2 {
	font-weight: normal;
	color: #FFB100;
	padding-bottom: 4px;
	margin-bottom: 16px;
	border-bottom: 2px solid #7E3406;
}

input.button1,
input.button2,
.reply-icon,
.post-icon {
	border: 1px solid #C34506;
	background-color: #732208;
	color: #FFAE00;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-image: url("{T_THEME_PATH}/images/btn_bg.gif");
	height: 24px;
	line-height: 20px;
	padding: 0 6px;
	font-size: 12px;
}

.buttons {
	margin-top: 5px;
}

.buttons div {
	background-position: 0 0;
}

div.post-icon span {
	background: none;
}

dl.faq dt {
	color: #F5EBD1;
}

hr.dashed {
	border-color: #F5EBD1;
}
